*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 60vh;
    background-color: #333;
    background-image: url(tree.jpg);
    color:white;
    /* padding: 10px 0; */
}

/* css de la navbar deroulante */
nav{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0px;
}
.conteneur-nav{
  position: absolute;
  width: 100%;
}
nav input[type=checkbox]{
  display: none;
}
nav label{
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  background-color: gold;
}
nav ul{
  display: none;
  list-style-type: none;
  background-color: #555;
}
nav input[type=checkbox]:checked + ul{
  display: flex;
  flex-flow : column wrap;
}
nav ul li{
  flex: 1 1 auto;
  text-align: center;
}
nav > div > ul > li > a{
  color: white;
}
nav a{
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px 0px;
}
.sous{
  display: flex;
  flex-flow: column wrap;
  z-index: 1000;
}

.sous li{
  flex: 1 1 auto;
  text-align: left;
}
.sous a{
  padding: 10px;
  background-color: RGBa(200,200,200,0.8);
}

@media screen and (min-width: 980px){
  .conteneur-nav{
      position: static;
  }
  nav label, nav input{
      display: none;
  }
  nav input[type=checkbox]:checked + ul, nav ul{
      display: flex;
      flex-flow: row wrap;
      background-color: green;
  }
  nav ul li{
      position: relative;
  }
  nav > div > ul > li > a{
      color: black;
  }
  nav a{
      border-bottom: 2px solid transparent;
  }
  nav a:hover{
      color: orange;
      border-bottom: 2px solid gold;
  }
  .sous{
      display: none;
      box-shadow: 0px 1px 2px #CCC;
      background-color: white;
      position: absolute;
      width: 100%;
  }
  nav > div > ul li:hover .sous{
      display: flex;
      flex-flow: column wrap;
  }
  .sous a{
      border-bottom: none;
      background-color: white;
  }
  .sous a:hover{
      border-bottom: none;
      background-color: RGBa(200,200,200,0.1);
  }
  .deroulant > a::after{
      content:" ▼";
      font-size: 12px;
  }
}

.conteneur-contenu{
margin: 50px 20px;
height: 1500px;
}

/* nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1500px; */
    /* margin: 0 auto; */
    /* padding: 0 20px; */
    /* background-color: aqua;
    width: 100%;
    height: 15%; */
    /* margin:auto; */
    /* margin-top: 0; */

/* } */ */
/* .multi{
 margin-right: 10%;
} */
/* 
.logo img {
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #e66d6d;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
} */
.content{
    width: 40%; 
    position: absolute;
    top: 30%;
    transform: transLateY(-50%);
    text-align: center;
    color: #fff;
    /* background-color: #33d46b; */
 }
 .content h1{
     font-size: 70px;
     margin-top: 60px;
     margin-left: 20%;
 
 }
 .content p{
     margin: 20px auto;
     font-weight: 500;
     line-height: 50px;
     margin-left: 13%;
 }
  /* .recherche{ */
  /* display: flex; */
  /* justify-content: space-between;
  width: 200%;
  background-color: #5a23c8;
  margin-top: 5%;
  margin-left: 5%;
   
  }  */
  /* .recherche .col{
  margin-left: 20%;
  width: 100%; 
   background-color: #33d46b; 
  }
 .recherche .for{
  margin-left: 10%; 
 }  */
 /* input{
  width: 50%;
  height: 80%; */
  /* border-radius: 30%; */
  /* background-color: #009688;
 } */
 
 /* button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #000096;
    background: transparent;
    color:yellow;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  
} */
/* span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
} */
/* css bouton recherche */

h1{
  margin: 0 0 10px;
  padding: 0;
  color: black;
  font-size: 24px;
}
.boxe{
  position: absolute;
  top: 55%;
  left: 38%;
  width: 500px;
  /* background-color: #bf3939; */
  transform: translate(-50%, -50%);
}
input{
 position: relative;
 display:inline-block ;
 font-size: 20px;
 box-sizing: border-box; 
 transition: .5s;
}
input[type="text"]{
  background: #d1c1c1;
  width: 350px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}
input[type="submit"]{
  position: relative;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 140px;
  height: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffc107;
  color: #fff;
  
}
input[type="submit"]:hover{
  background: #ff5722;
}

/* fin */



.sommaire{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.nature h2{
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 40px;
  /* padding-top: 5%;  */
  font-family: Arial, Helvetica, sans-serif;  
}

.touristique h2{
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.tradition h2{
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.paysage h2{
  width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 5%;  
}

.shooting h2{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}

.evènement{
    display: flex;
    margin-top: 5%;  
}
.evènement .C{
    padding: 7%;
    background-color: rgb(79, 167, 167);   
}

/* mon css */

/* 
body{
  padding: 140px 0;
} */
.gallery {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 14px;
}
.gallery::after{
  content: "";
  display: block;
  flex-grow: 10;
}
.gallery li {
 list-style-type: none;
 height: 250px;
 flex-grow: 1; 
}
.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;   
}


/* CSS de la sectionfooter */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
/* fin css footer */

/* css page interne culturelle */

.culturelle{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
/* .touristique .site{
    margin-top: 5%;
    width: 50%;
    height: 30%;
    background-color: #c97b7b;
    padding: 5%;
    margin-left: 25%;
    border-radius: 10%;
} */
/* .touristique .site:hover{
    background-color: cyan;
    box-shadow: #333; 
} */
.site p{
    font-size: 20px;
    font-weight: 300;
}
.touristique .AB{
   margin-top: 5%;
       
                
}
/* .tradition .tradi{
    margin-top: 5%;
    width: 50%;
    height: 30%;
    background-color: #c97b7b;
    padding: 5%;
    margin-left: 25%;
    border-radius: 10%;  
} */

.tradition{
  margin-top: 5%;
}
.tradition .AB{
  margin-top: 5%;
}
.artisana{
  margin-top: 5%;
}
.artisana .AB{
    margin-top: 5%;
  }
/* .tradition .tradi:hover{
    box-shadow: 0 0 20px 0px rgba(15, 170, 20, 0.2);
    background-color: cyan;
 } */
 .tradi p{
    font-size: 20px;
    font-weight: 300;  
}
/* .artisana .art{
    margin-top: 5%;
    width: 50%;
    height: 30%;
    background-color: #c97b7b;
    padding: 5%;
    margin-left: 25%;
    border-radius: 10%;   
} */
/* .artisana .art:hover{
    box-shadow: 0 0 20px 0px rgba(15, 170, 20, 0.2);
    background-color: cyan; 
} */
.art p{
    font-size: 20px;
    font-weight: 300;   
}

/* css bootstrap */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }


  /* partie css de footer */
  
  .foot{
    width: 100%;
    background-color: #0a141d; 
    margin-top: 5%;
    /* margin: auto; */
  
}
.foot .groupe{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.foot .groupe .box figure{
   width: 100%;
   height: 100%;
   display: flex; 
   justify-content: center;
   align-items: center;
}
.foot .groupe .box figure img{
   width: 150px; 
}
.foot .groupe .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.foot .groupe .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.foot .groupe .box .red a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition:all 300ms ease ;
}
.foot .groupe .box .red a:hover{
    color: aqua;
}
.foot .groupe-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
} 
.foot .groupe-2 small{
  font-size: 15px;   
}
@media screen and (max-width:800px) {
    .foot .groupe{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}



/* Responsive de la home page */
@media screen and (max-width: 300px) {
    nav{
        flex-direction: column;
        background-color: #7df260;
    }
    .culture .A{
        flex-direction: column;
        background-color: #33d46b;
        height: 100%;
    }
    .paysage{
        flex-direction: column;
        background-color: #c05555;
        width: 100%;
    }
    .shooting{
        flex-direction: column;
    }
    .evènement{
        flex-direction: column;
    }
}