.main{
    background-color: rgb(210, 95, 95);
    margin-top: 5%;
    max-width: 500px; 
    margin-left: 15%;
    /* max-height: 500px; */
 }
.main button{
  width: 50%;
  margin-top: 10%;
  margin-bottom: 3%;
  border-radius: 10px;
}
.main label{
  width: 20%;
  color: #854646;
}
input{
    margin: 20px;
} 



*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 60vh;
    background-color: #333;
    background-image: url(tree.jpg);
    color:white;
    /* padding: 10px 0; */
}

/* css de la navbar deroulante */
nav{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0px;
}
.conteneur-nav{
  position: absolute;
  width: 100%;
}
nav input[type=checkbox]{
  display: none;
}
nav label{
  display: inline-block;
  width: 50%;
  padding: 5px 0px;
  text-align: center;
  /* background-color: rgb(170, 170, 166); */
}
nav ul{
  display: none;
  list-style-type: none;
  background-color: white;
}
nav input[type=checkbox]:checked + ul{
  display: flex;
  flex-flow : column wrap;
}
nav ul li{
  flex:;
  text-align: center;
  padding: 2%;
  margin-left: 1%;
}
 nav > div > ul > li > a{
  color: white;
} 
nav a{
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 0px;
}
.sous{
  display: flex;
  flex-flow: column wrap;
  z-index: 1000;
}

.sous li{
  flex: 1 1 auto;
  text-align: left;
}
.sous a{
  /* padding: 10px; */
  /* background-color: RGBa(200,200,200,0.8); */
}

@media screen and (min-width: 980px){
  .conteneur-nav{
      position: static;
  }
  nav label, nav input{
      display: none;
  }
  nav input[type=checkbox]:checked + ul, nav ul{
      display: flex;
      flex-flow: row wrap;
      background-color: green;
  }
  nav ul li{
      position: relative;
  }
  nav > div > ul > li > a{
      color: black;
  }
  nav a{
      border-bottom: 2px solid transparent;
  }
  nav a:hover{
      color: orange;
      border-bottom: 2px solid gold;
  }
  .sous{
      display: none;
      box-shadow: 0px 1px 2px #CCC;
      background-color: white;
      position: absolute;
      width: 100%;
  }
  nav > div > ul li:hover .sous{
      display: flex;
      flex-flow: column wrap;
  }
  .sous a{
      border-bottom: none;
      background-color: white;
  }
  .sous a:hover{
      border-bottom: none;
      background-color: RGBa(200,200,200,0.1);
  }
  .deroulant > a::after{
      content:" ▼";
      font-size: 12px;
  }
}

.conteneur-contenu{
margin: 50px 20px;
height: 1500px;
}

/* nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1500px; */
    /* margin: 0 auto; */
    /* padding: 0 20px; */
    /* background-color: aqua;
    width: 100%;
    height: 15%; */
    /* margin:auto; */
    /* margin-top: 0; */

/* } */ */
/* .multi{
 margin-right: 10%;
} */
/* 
.logo img {
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #e66d6d;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
} */
.content{
    width: 40%; 
    position: absolute;
    top: 30%;
    transform: transLateY(-50%);
    text-align: center;
    color: #fff;
    background-color: #33d46b;
 }
 .content h1{
     font-size: 70px;
     margin-top: 60px;
     margin-left: 32%;
 
 }
 .content p{
     margin: 20px auto;
     font-weight: 500;
     line-height: 25px;
     margin-left: 25%;
  
 }
 .content .faso{
  /* background-color: #5a23c8; */
 }
  

/* css bouton recherche */

h1{
  margin: 0 0 10px;
  padding: 0;
  color: black;
  font-size: 24px;
}
.boxe{
  position: absolute;
  top: 53%;
  left: 51%;
  width: 500px;
  /* background-color: #bf3939; */
  transform: translate(-50%, -50%);
}
input{
 position: relative;
 display:inline-block ;
 font-size: 20px;
 box-sizing: border-box; 
 transition: .5s;
}
input[type="text"]{
  background: #d1c1c1;
  width: 350px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}
input[type="submit"]{
  position: relative;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 140px;
  height: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffc107;
  color: #fff;
  
}
input[type="submit"]:hover{
  background: #ff5722;
}

/* fin */

/* debut css ma galery */
.gallery{
  padding: 2%;
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense; 
}

/* stretch verticaly */
.v-stretch{
   grid-row: span 2;
}
/* horizontal */
.h-stretch{
   grid-column: span 2;
}
/* vertical horizontal */
.big-stretch{
   grid-row: span 2;
   grid-column: 2;
}
.gallery div img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/* responsive */
@media (max-width:560px){
   .v-stretch{
       grid-row: span 1;
   }
   .h-stretch{
       grid-column: span 1;
   }
   .big-stretch{
       grid-column: span 1;
       grid-row: span 1;
   }
   
}



.sommaire{
    /* width: 100%; */
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.nature h2{
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 40px;
  /* padding-top: 5%;  */
  font-family: Arial, Helvetica, sans-serif;  
}

.touristique h2{
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.tradition h2{
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.paysage h2{
  width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 5%;  
}

.shooting h2{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}

.evènement{
    display: flex;
    margin-top: 5%;  
}
.evènement .C{
    padding: 7%;
    background-color: rgb(79, 167, 167);   
}

/* mon css */

/* css page interne culturelle */

.culturelle{
    /* width: 80%; */
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.site p{
    font-size: 20px;
    font-weight: 300;
}
.touristique .AB{
   margin-top: 5%;
       
                
}


.tradition{
  margin-top: 5%;
}
.tradition .AB{
  margin-top: 5%;
}
.artisana{
  margin-top: 5%;
}
.artisana .AB{
    margin-top: 5%;
  }

 .tradi p{
    font-size: 20px;
    font-weight: 300;  
}

.art p{
    font-size: 20px;
    font-weight: 300;   
}




  /* partie css de footer */
  
  .foot{
    width: 100%;
    background-color: #0a141d; 
    margin-top: 5%;
    /* margin: auto; */
  
}
.foot .groupe{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.foot .groupe .box figure{
   width: 100%;
   height: 100%;
   display: flex; 
   justify-content: center;
   align-items: center;
}
.foot .groupe .box figure img{
   width: 150px; 
}
.foot .groupe .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.foot .groupe .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.foot .groupe .box .red a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition:all 300ms ease ;
}
.foot .groupe .box .red a:hover{
    color: aqua;
}
.foot .groupe-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
} 
.foot .groupe-2 small{
  font-size: 15px;   
}
@media screen and (max-width:800px) {
    .foot .groupe{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}



/* Responsive de la home page */
@media screen and (max-width: 300px) {
    nav{
        flex-direction: column;
        background-color: #7df260;
    }
    .culture .A{
        flex-direction: column;
        background-color: #33d46b;
        height: 100%;
    }
    .paysage{
        flex-direction: column;
        background-color: #c05555;
        width: 100%;
    }
    .shooting{
        flex-direction: column;
    }
    .evènement{
        flex-direction: column;
    }
}